<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/song-style.css" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lora&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div><h1>Here are your results...</h1></div>
    <div class="headerleft">
      <p>
        Play <%=artist%>'s song, "<%=track%>" as read by our Spanish computer!
      </p>

      <audio controls src="/hello_world1.wav" type="audio/wav">
        Your browser does not support the audio tag.
      </audio>
    </div>
    <div>
      <p>Take a look at the lyrics below:</p>
      <%=lyrics%>
    </div>
  </body>
</html>
